.username {
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    -webkit-text-stroke: 0.5px gray;
}

h1 {
    margin: 10px;
    text-align: left;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 0.5px gray;
}

.main-container {
    background: linear-gradient(to bottom, #e2e2e2de, #696969e0);
    display: flex;
    width: 70%; /* Set the container to take up 80% of the page */
    margin: 0 auto; /* Center the container */

}

.right-container{
    width: 80%;
}


