.history-container {
	
	width: 40%;
	padding: 0;
	/* Make _orders occupy the remaining space (90%) of the container */
	
    display: inline-block; /* Example background color */
}

.history-box {
    display: inline-block; /* Example background color */
	width: 100%;
	margin: 0;
	display: inline-block;

}

