#hideMe {
    position: absolute;
		text-align: center;
		bottom: 0;
		right: 0;
		padding: 10px;
		width: 400px;
		float: right;
		box-shadow: 25px -20px 38px -14px rgba(130, 125, 130, 0.8);
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}