<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/partials/_toast.css') }}"
/>

<!--I think this is not working properly because the flashed messages never leave fully-->

{% with messages = get_flashed_messages(with_categories = True) %} {% if
messages %} {% for category, msg in messages %}
<div
	class="alert {% if category == 'info' %} alert-info {% elif category == 'success' %} alert-success {% elif category == 'error' %} alert-danger {% else %} alert-warning {% endif %} alert-success alert-dismissible fade show"
	id="hideMe"
	data-bs-dismiss="alert"
	role="alert"
>
	<strong>{{ msg }}</strong>
</div>

{% endfor %} {% endif %} {% endwith %}
