<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/admin.css') }}"
/>
{% extends "partials/_layout.html" %} {% include "partials/_header.html" %}
{%block content %}
<div class="container" style="width: 70%; background-color: white">
	<div class="row justify-content-center">
		<!-- Info box on the left -->
		{% include "partials/_info.html" %}

		<!-- Container on the right -->
		<div class="col-md-8" id="order-lists">
			<h2>Pending Delivery Orders</h2>

			<div class="scrollable-container">
				<div class="scrollable-cards">
					{% for order in PDO %}
					<div
						class="col-mb-5 m-1"
						data-order-id="{{ order.id }}"
						type="button"
						data-toggle="modal"
						data-target="#orderDetailsModal{{ order.id }}"
					>
						<div class="card mb-4 m-1">
							<div class="card-body p-1">
								<div class="d-flex align-items-center px-1">
									<img
										id="avatar"
										class="avatar"
										src="{{ url_for('static', filename='avatars/' + order.user_avatar_url.avatar_url_s) }}"
										alt="Avatar"
									/>
									<div class="d-grid">
										<h5 class="card-text">{{ order.user.user_name }}</h5>
										<h6 class="card-date">
											{{ order.request_time.strftime('%d-%m-%Y') }}
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% include "partials/_order_detail_modal.html" %}
					{% endfor %}
				</div>
			</div>

			<h2>Pending Pickup Orders</h2>
			<div class="scrollable-container">
				<div class="scrollable-cards">
					{% for order in PPO %}
					<div
						class="col-mb-5 m-1"
						data-order-id="{{ order.id }}"
						type="button"
						data-toggle="modal"
						data-target="#orderDetailsModal{{ order.id }}"
					>
						<div class="card mb-4 m-1">
							<div class="card-body p-1">
								<div class="d-flex align-items-center px-1">
									<img
										id="avatar"
										class="avatar"
										src="{{ url_for('static', filename='avatars/' + order.user_avatar_url.avatar_url_s) }}"
										alt="Avatar"
									/>
									<div class="d-grid">
										<h5 class="card-text">{{ order.user.user_name }}</h5>
										<h6 class="card-date">
											{{ order.request_time.strftime('%d-%m-%Y') }}
										</h6>
									</div>
								</div>

								<!-- Add more details as needed -->
							</div>
						</div>
					</div>

					{% include "partials/_order_detail_modal.html" %} {%endfor %}
				</div>
			</div>

			<h2>Processing Orders</h2>
			<div class="scrollable-container">
				<div class="scrollable-cards">
					{% for order in CO %}
					<div
						class="col-mb-5 m-1"
						type="button"
						data-toggle="modal"
						data-target="#orderDetailsModal"
					>
						<div class="card mb-4 m-1">
							<div class="card-body p-1">
								<div class="d-flex align-items-center px-1">
									<img
										id="avatar"
										class="avatar"
										src="{{ url_for('static', filename='avatars/' + order.user_avatar_url.avatar_url_s) }}"
										alt="Avatar"
									/>
									<div class="d-grid">
										<h5 class="card-text">{{ order.user.user_name }}</h5>
										<h6 class="card-date">
											{{ order.request_time.strftime('%d-%m-%Y') }}
										</h6>
									</div>
								</div>

								<!-- Add more details as needed -->
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- Modal -->
			
		</div>
	</div>
</div>

<script>

	

	$(document).ready(function () {
		$('[data-toggle="popover"]').popover();
	});
	$('.popover-dismiss').popover({
		trigger: 'focus',
	});
</script>

{% endblock %}
