{% extends "partials/_layout.html" %}
{% include "partials/_header.html" %}

{%block content%}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Contact Us</h5>
        </div>
        <div class="card-body">
            <p class="card-info">
                If you are a represenative from another unvierstiy looking to partner with Pantry Pilot or have any other inquiries, please contact us at pantrypilotUIC@gmail.com</p>
        </div>
    </div>
</div>

{%endblock%}