<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/welcome.css') }}"
/>

<section class="hero">
    <div class="hero-content">
        <img id="hero-img" src="static/img/hero1.jpg" alt="hero">
            <div class="text-overlay line1">UIC Student</div>
            <div class="text-overlay line2">&</div>
            <div class="text-overlay line3">Food insecure?</div>
            <div class="text-overlay line4">we're here to help...</div>
    </div>
</section>

<section class="missions">
    <div class="missions-content">

        <div class="missions-body">
            <div class="right">
                <div class="text-m l1"> Our Mission</div>
                <img id="mission-img" src="static/img/mission.jpg" alt="mission img">
                <!--<div class="text-m l4"> just Broke</div>-->
            </div>
            <div class="left">
                <p class="text-m l2">Pantry Pilot is an initiative that partners with local universities to combat student hunger and food insecurity. Our innovative app creates a safety net for students in need, making it easy for them to request food assistance. A dedicated network of volunteers provides nutritious meals and access to campus food pantries, addresses accessibility challenges, reduces food waste, and promotes community engagement within educational institutions. The program allows students to focus on learning and thrive while ensuring that no student goes hungry. The program is designed to ensure that no student goes hungry, minimize food waste, strengthen community ties, and help students succeed academically.</p>
                <!--<div class="text-m l3"> No More Hungry...</div>-->
            </div>

        </div>
    </div>
</section>
<section class="parallax">
    <div class="parallax-inner">
        <h2 class="parallax-text">PantryPilot</h2>
    </div>
</section>
<section class="campus">
    <div class="campus-content">
        
    </div>
</section>

<section class="about">

</section>